.products{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    flex-direction: column;
}
.product_table{
    width: 60%;
    padding-bottom: 30px;
}

.logout{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 80%;
}
.add_btn{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 80%;   
    padding-top: 30px;
}